<div id="content-wrapper">
  <div id="content" class="container">
    <div class="row">
      <div class="col">

        <div class="spacing"></div>
        <hr class="hr-style">
        <div class="spacing"></div>

        <div>
          <h2>Please email for general questions and text/call for urgent needs:<br></h2>
          <span class="text-24">Kevin Haupt &amp; McKenna Morris<br>
            <a href="tel:+18015038306">(801) 503-8306</a><br>
            <a href="mailto:wedding@mail.com">questions@kevinandmckenna.com</a></span>
        </div>

        <div class="spacing"></div>
        <hr class="hr-style">
        <div class="spacing"></div>

      </div>
    </div>
  </div>
</div>