<form focusInvalidInput [formGroup]="registerForm" (ngSubmit)="registerUser()">
  <div class="container">
    <div class="row">

      <div class="spacing"></div>

      <div class=" col-md-12 text-center" >
        <span class="text-larger"><strong>Please Sign Up</strong></span>
      </div>

      <div class="spacing"></div>
      <hr class="hr-style">
      <div class="spacing"></div>

      <div class="col-md-4 form-group">
        <span class="input input--madoka" [class]="{'input--filled': !!myForm.nameFirst.value, 'input--error': submitted && myForm.nameFirst.errors}">
          <input class="input__field input__field--madoka"  type="text" formControlName="nameFirst" id="input-nameFirst">
          <label class="input__label input__label--madoka" for="inputNameFirst">
            <svg class="graphic graphic--madoka" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
              <path d="m0,0l404,0l0,77l-404,0l0,-77z"></path>
            </svg>
            <span class="input__label-content input__label-content--madoka">First name<i class="fas fa-asterisk"></i></span>
          </label>
        </span>
        <!-- error -->
        <div class="error" *ngIf="submitted && myForm.nameFirst.errors?.required">
          First Name is required.
        </div>
        <div class="error" *ngIf="submitted && (myForm.nameFirst.errors?.minLength || myForm.nameFirst.errors?.maxLength)">
          Enter a first name (between 3 and 25 characters).
        </div>
      </div>

      <div class="col-md-4 form-group">
        <span class="input input--madoka" [class]="{'input--filled': !!myForm.nameLast.value, 'input--error': submitted && myForm.nameLast.errors}">
          <input class="input__field input__field--madoka" type="text" formControlName="nameLast" id="input-nameLast">
          <label class="input__label input__label--madoka" for="nameLast">
            <svg class="graphic graphic--madoka" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
              <path d="m0,0l404,0l0,77l-404,0l0,-77z"></path>
            </svg>
            <span class="input__label-content input__label-content--madoka">Last name<i class="fas fa-asterisk"></i></span>
          </label>
        </span>
        <!-- error -->
        <div class="error" *ngIf="submitted && myForm.nameLast.errors?.required">
          Last Name is required.
        </div>
        <div class="error" *ngIf="submitted && (myForm.nameLast.errors?.minLength || myForm.nameLast.errors?.maxLength)">
          Enter a last name (between 3 and 25 characters).
        </div>
      </div>

      <div class="col-md-4 form-group">
        <span class="input input--madoka" [class]="{'input--filled': !!myForm.email.value, 'input--error': submitted && myForm.email.errors}">
          <input class="input__field input__field--madoka" type="text" formControlName="email" id="input-email">
          <label class="input__label input__label--madoka" for="email">
            <svg class="graphic graphic--madoka" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
              <path d="m0,0l404,0l0,77l-404,0l0,-77z"></path>
            </svg>
            <span class="input__label-content input__label-content--madoka">Email<i class="fas fa-asterisk"></i></span>
          </label>
        </span>
        <!-- error -->
        <div class="error" *ngIf="submitted && myForm.email.errors?.required">
          Email Address is required.
        </div>
        <div class="error" *ngIf="submitted && myForm.email.errors?.pattern">
          Enter a valid email address.
        </div>
      </div>

      <div class="col-md-6 form-group">
        <span class="input input--madoka" [class]="{'input--filled': !!myForm.password.value, 'input--error': submitted && myForm.password.errors}">
          <input class="input__field input__field--madoka" type="password" formControlName="password" id="input-password" (change)="passwordCheck()">
          <label class="input__label input__label--madoka" for="password">
            <svg class="graphic graphic--madoka" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
              <path d="m0,0l404,0l0,77l-404,0l0,-77z"></path>
            </svg>
            <span class="input__label-content input__label-content--madoka">Password<i class="fas fa-asterisk"></i></span>
          </label>
        </span>
        <!-- error -->
        <div class="error" *ngIf="submitted && myForm.password.errors?.required">
          Password is required.
        </div>
        <div class="error" *ngIf="submitted && myForm.password.errors?.pattern">
          Enter a password (8 to 32 characters, at least one upper case letter and number).
        </div>
      </div>

      <div class="col-md-6 form-group">
        <span class="input input--madoka" [class]="{'input--filled': !!myForm.passwordConf.value, 'input--error': submitted && myForm.passwordConf.errors}">
          <input class="input__field input__field--madoka" type="password" formControlName="passwordConf" id="input-passwordConf" (change)="passwordCheck()">
          <label class="input__label input__label--madoka" for="passwordConf">
            <svg class="graphic graphic--madoka" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
              <path d="m0,0l404,0l0,77l-404,0l0,-77z"></path>
            </svg>
            <span class="input__label-content input__label-content--madoka">Confirm Password<i class="fas fa-asterisk"></i></span>
          </label>
        </span>
        <!-- error -->
        <div class="error" *ngIf="submitted && myForm.passwordConf.errors?.required">
          Password is required.
        </div>
        <div class="error" *ngIf="submitted && myForm.passwordConf.errors?.pattern">
          Enter a password (8 to 32 characters, at least one upper case letter and number).
        </div>
        <div class="error" *ngIf="myForm.passwordConf.errors?.match">
          Passwords do not match!
        </div>
      </div>

      <div class="col-md-6 form-group">
        <span class="input input--madoka" [class]="{'input--filled': !!myForm.registrationCode.value, 'input--error': submitted && myForm.registrationCode.errors}">
          <input class="input__field input__field--madoka" type="text" formControlName="registrationCode" id="input-registrationCode">
          <label class="input__label input__label--madoka" for="registrationCode">
            <svg class="graphic graphic--madoka" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
              <path d="m0,0l404,0l0,77l-404,0l0,-77z"></path>
            </svg>
            <span class="input__label-content input__label-content--madoka">Registration Code<i class="fas fa-asterisk"></i></span>
          </label>
        </span>
        <!-- error -->
        <div class="error" *ngIf="submitted && myForm.registrationCode.errors?.required">
          Registration Code is required.
        </div>
      </div>

      <div class="spacing"></div>

      <div class="col-md-12 row justify-content-center">
        <div class="col-md-6 text-center">
          <button type="submit" class="btn gradient">Sign up</button>
        </div>
      </div>

      <div class="spacing s20"></div>
  
      <hr class="hr-style">
    </div>
  </div>
</form>