<div class="flex flex-gallery">
  <div class="fg-tall"><img src="/assets/img/proposal-tall-1.jpg" alt="proposal-tall-1" /></div>
  <div class="fg-tall"><img src="/assets/img/proposal-tall-2.jpg" alt="proposal-tall-2" /></div>
  <div class="fg-wide"><img src="/assets/img/proposal-wide-1.jpg" alt="proposal-wide-1" /></div>
  <div class="fg-wide"><img src="/assets/img/proposal-wide-2.jpg" alt="proposal-wide-2" /></div>
  <div class="fg-wide"><img src="/assets/img/proposal-wide-3.jpg" alt="proposal-wide-3" /></div>
</div>