<div class="loading content content--center">
  <div class="grid grid--type-a">
    <div class="grid__sizer"></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/proposal-tall-1.jpg" alt="proposal-tall-1" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/proposal-wide-1.jpg" alt="proposal-wide-1" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/proposal-tall-2.jpg" alt="proposal-tall-2" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/proposal-wide-2.jpg" alt="proposal-wide-2" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/proposal-wide-3.jpg" alt="proposal-wide-3" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_0003.JPG" alt="IMG_0003" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_0004.JPG" alt="IMG_0004" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_0005.JPG" alt="IMG_0005" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_0006.JPG" alt="IMG_0006" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_0007.JPG" alt="IMG_0007" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_0008.JPG" alt="IMG_0008" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_0009.JPG" alt="IMG_0009" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_0010.JPG" alt="IMG_0010" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_0011.JPG" alt="IMG_0011" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_0012.JPG" alt="IMG_0012" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_0013.JPG" alt="IMG_0013" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_0014.JPG" alt="IMG_0014" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_0015.JPG" alt="IMG_0015" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_0016.JPG" alt="IMG_0016" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_0017.JPG" alt="IMG_0017" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_0019.JPG" alt="IMG_0019" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_0020.JPG" alt="IMG_0020" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_0021.JPG" alt="IMG_0021" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_0022.JPG" alt="IMG_0022" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_0023.JPG" alt="IMG_0023" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_0024.JPG" alt="IMG_0024" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_0025.JPG" alt="IMG_0025" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_0026.JPG" alt="IMG_0026" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_0027.JPG" alt="IMG_0027" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_0028.JPG" alt="IMG_0028" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_0029.JPG" alt="IMG_0029" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_0030.JPG" alt="IMG_0030" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_0031.JPG" alt="IMG_0031" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_0032.JPG" alt="IMG_0032" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_0033.JPG" alt="IMG_0033" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_0034.JPG" alt="IMG_0034" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_0035.JPG" alt="IMG_0035" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_0036.JPG" alt="IMG_0036" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_0037.JPG" alt="IMG_0037" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_0038.JPG" alt="IMG_0038" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_0039.JPG" alt="IMG_0039" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_0040.JPG" alt="IMG_0040" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_0041.JPG" alt="IMG_0041" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_0042.JPG" alt="IMG_0042" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_0043.JPG" alt="IMG_0043" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_0044.JPG" alt="IMG_0044" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_0045.JPG" alt="IMG_0045" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_0046.JPG" alt="IMG_0046" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_0047.JPG" alt="IMG_0047" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_0048.JPG" alt="IMG_0048" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_0049.JPG" alt="IMG_0049" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_0050.JPG" alt="IMG_0050" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_0051.JPG" alt="IMG_0051" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_0052.JPG" alt="IMG_0052" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_1179.JPG" alt="IMG_1179" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_0018.jpeg" alt="IMG_0018" /></div>
    <div class="grid__item"><img class="grid__img" src="/assets/img/IMG_1190.jpeg" alt="IMG_1190" /></div>
  </div>
</div>