<nav class="navbar navbar-gallery fixed-top">
  <button class="navbar-toggler btn" type="btn" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-bars"></i>
  </button>
  <div class="gallery-categories collapse navbar-collapse" id="navbarSupportedContent">
    <button class="btn gradient" 
      (click)="selectCategory(cat)" 
      [ngClass]="{'active': category === cat}"
      *ngFor="let cat of categories">
      {{cat}}
    </button>
  </div>
</nav>
<div class="thumbnails">
  <div *ngFor="let image of images; let i = index;">
    <img class="grid__img" src="assets/img/{{category}}/thumbnails/{{image}}" [alt]="getAltText(image)" (click)="selectImage(i)"
      data-toggle="collapse" data-target=".navbar-collapse.show"
      aria-controls="navbarSupportedContent" />
  </div>
</div>
<div class="gallery-body" [ngClass]="{'selected': this.selectedImage}" (click)="deselect($event)" swipe (next)="next()" (previous)="prev()">
  <div class="gallery-controls gallery-controls-left">
    <button class="btn gradient btn-lg" (click)="prev()"><i class="fas fa-arrow-left"></i></button>
    <button class="btn gradient btn-lg" (click)="first()">First</button>
  </div>
  <div class="gallery-image">
    <div class="image-controls">
      <button class="btn gradient" (click)="download(selectedImage)"><i class="fas fa-download"></i></button>
      <button class="btn gradient" (click)="deselect(null)"><i class="fas fa-times"></i></button>
    </div>
    <img *ngIf="selectedImage" src="assets/img/{{category}}/{{selectedImage}}" [alt]="getAltText(selectedImage)" />
    
  </div>
  <div class="gallery-controls gallery-controls-top">
    <span>{{selectedIndex + 1}} of {{images.length}}</span>
  </div>
  <div class="gallery-controls gallery-controls-right">
    <button class="btn gradient btn-lg" (click)="next()"><i class="fas fa-arrow-right"></i></button>
    <button class="btn gradient btn-lg" (click)="last()">Last</button>
  </div>
</div>