<div class="container">
  <div class="row">
    <div class="col-md-12">
      <a class="btn gradient" routerLinkActive="active" routerLink="/registration-code/create">Create Regitration Code</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="flex">
        <div class="list-group-item" *ngFor="let regCode of RegistrationCodes">
          Code: {{regCode.code}}
          <span *ngIf="regCode.claimed"><br>Claimed</span>
          <a class="btn gradient" (click)="copyLink(regCode)" *ngIf="!regCode.claimed">Copy Link <i class="fas fa-copy"></i></a>
          <a class="btn gradient" (click)="deleteRegistrationCode(regCode)" *ngIf="!regCode.claimed">Delete</a>
        </div>
      </div>
    </div>
  </div>
</div>