<form focusInvalidInput [formGroup]="rsvpForm" (ngSubmit)="submit()">
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <h2>We can't wait to hear from you.</h2>
      </div>
      
      <div class="spacing"></div>

      <div class="col-md-12 form-group flex">
        <div class="cs-select cs-skin-underline" [class]="{'cs-active': attendingActive}" tabindex="0">
          <span class="cs-placeholder" (click)="toggleAttending()">{{attendingText}}</span>
          <div class="cs-options">
            <ul> 
              <li data-option="" (click)="attending(true)"><span>Yes</span></li>
              <li data-option="" (click)="attending(false)"><span>No</span></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="spacing"></div>
    </div>
    <div class="row justify-content-center" *ngIf="myForm.attending.value">

      <div class="col-md-12 form-group">
        <span class="input input--madoka" [class]="{'input--filled': !!myForm.plusOne.value}" >
          <input class="input__field input__field--madoka" type="text" formControlName="plusOne" id="input-plusOne">
          <label class="input__label input__label--madoka" for="plusOne">
            <svg class="graphic graphic--madoka" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
              <path d="m0,0l404,0l0,77l-404,0l0,-77z"></path>
            </svg>
            <span class="input__label-content input__label-content--madoka">If you are attending with a partner, what is their name?</span>
          </label>
        </span>
      </div>

      <div class="col-md-12 form-group ac-custom ac-checkbox ac-cross">
        <h2>Which Nights are you planning on staying?</h2>
        <div (click)="toggleNight('thursdayNight')">
          <input name="thursdayNight" type="checkbox" formControlName="thursdayNight">
          <label for="thursdayNight" >Thursday</label>
          <span [class]="{'hide': !myForm.thursdayNight.value}"><i class="fa fa-check" ></i></span>
        </div>
        <div (click)="toggleNight('fridayNight')">
          <input name="fridayNight" type="checkbox" formControlName="fridayNight">
          <label for="fridayNight">Friday</label>
          <span [class]="{'hide': !myForm.fridayNight.value}"><i class="fa fa-check" ></i></span>
        </div>
        <div (click)="toggleNight('saturdayNight')">
          <input name="saturdayNight" type="checkbox" formControlName="saturdayNight">
          <label for="saturdayNight">Saturday</label>
          <span [class]="{'hide': !myForm.saturdayNight.value}"><i class="fa fa-check" ></i></span>
        </div>
      </div>

      <div class="spacing"></div>

      <div class="col-md-12 form-group ac-custom ac-checkbox ac-cross">
        <h2>Where will you be staying?</h2>
        <div (click)="toggleAccommodation('venue')">
          <input name="accommodationVenue" type="checkbox">
          <label for="accommodationVenue" >At the Venue House</label>
          <span [class]="{'hide': myForm.accommodation.value != 'venue'}"><i class="fa fa-check" ></i></span>
        </div>
        <div (click)="toggleAccommodation('other')">
          <input name="accommodationOther" type="checkbox">
          <label for="accommodationOther">Booking Own Room</label>
          <span [class]="{'hide': myForm.accommodation.value != 'other'}"><i class="fa fa-check" ></i></span>
        </div>
      </div>

      <div class="spacing"></div>

      <div class="col-md-12 form-group ac-custom ac-checkbox ac-cross">
        <h4>We are hoping to make all meals available at the house. 
          To make that happen, guests can sign up to help provide a meal. 
          Let us know which meals you would like to have so we can give them a headcount.
          If you have questions, contact us. The rehearsal dinner will be provideded by the bride and groom.
        </h4>
        <div (click)="toggleMeal('thursdayDinner')">
          <input name="thursdayDinner" type="checkbox" formControlName="thursdayDinner">
          <label for="thursdayDinner" >Thursday Dinner</label>
          <span [class]="{'hide': !myForm.thursdayDinner.value}"><i class="fa fa-check" ></i></span>
        </div>
        <div (click)="toggleMeal('fridayBreakfast')">
          <input name="fridayBreakfast" type="checkbox" formControlName="fridayBreakfast">
          <label for="fridayBreakfast">Friday Breakfast</label>
          <span [class]="{'hide': !myForm.fridayBreakfast.value}"><i class="fa fa-check" ></i></span>
        </div>
        <div (click)="toggleMeal('fridayLunch')">
          <input name="fridayLunch" type="checkbox" formControlName="fridayLunch">
          <label for="fridayLunch">Friday Sack Lunch</label>
          <span [class]="{'hide': !myForm.fridayLunch.value}"><i class="fa fa-check" ></i></span>
        </div>
        <div (click)="toggleMeal('rehearsalDinner')">
          <input name="rehearsalDinner" type="checkbox" formControlName="rehearsalDinner">
          <label for="rehearsalDinner">Rehearsal Dinner</label>
          <span [class]="{'hide': !myForm.rehearsalDinner.value}"><i class="fa fa-check" ></i></span>
        </div>
      </div>

      <div class="spacing"></div>

      <div class="col-md-12 form-group ac-custom ac-checkbox ac-cross">
        <h4>On that note, are you interested in helping provide a meal?</h4>
        <div (click)="toggleMealHelp(true)">
          <input name="mealHelp" type="radio">
          <label for="mealHelp" >Yes</label>
          <span [class]="{'hide': !myForm.mealHelp.value}"><i class="fa fa-check" ></i></span>
        </div>
        <div (click)="toggleMealHelp(false)">
          <input name="mealHelp" type="radio">
          <label for="mealHelp">No</label>
          <span [class]="{'hide': myForm.mealHelp.value}"><i class="fa fa-check" ></i></span>
        </div>
      </div>

      <div class="col-md-12 form-group ac-custom ac-checkbox ac-cross">
        <h6>As it is tradition for the groom not to see the bride before the wedding, there will be a brunch at the house attended by the bride and the groom will be headed to a nearby place to grab a beer and lunch</h6>
        <p>Saturday Brunch Options</p>
        <div (click)="toggleMeal('bridesBrunch')">
          <input name="bridesBrunch" type="checkbox" formControlName="bridesBrunch">
          <label for="bridesBrunch">Brides Brunch</label>
          <span [class]="{'hide': !myForm.bridesBrunch.value}"><i class="fa fa-check" ></i></span>
        </div>
        <div (click)="toggleMeal('boysBrews')">
          <input name="boysBrews" type="checkbox" formControlName="boysBrews">
          <label for="boysBrews">Boys Brews</label>
          <span [class]="{'hide': !myForm.boysBrews.value}"><i class="fa fa-check" ></i></span>
        </div>
      </div>

      <div class="col-md-12 form-group ac-custom ac-checkbox ac-cross" *ngIf="myForm.plusOne.value">
        <p>Saturday Brunch Options for {{myForm.plusOne.value}}</p>
        <div (click)="toggleMeal('plusOneBridesBrunch')">
          <input name="plusOneBridesBrunch" type="checkbox" formControlName="plusOneBridesBrunch">
          <label for="plusOneBridesBrunch">Brides Brunch</label>
          <span [class]="{'hide': !myForm.plusOneBridesBrunch.value}"><i class="fa fa-check" ></i></span>
        </div>
        <div (click)="toggleMeal('plusOneBoysBrews')">
          <input name="plusOneBoysBrews" type="checkbox" formControlName="plusOneBoysBrews">
          <label for="plusOneBoysBrews">Boys Brews</label>
          <span [class]="{'hide': !myForm.plusOneBoysBrews.value}"><i class="fa fa-check" ></i></span>
        </div>
      </div>

      <div class="spacing"></div>

      <div class="col-md-12 form-group ac-custom ac-checkbox ac-cross">
        <h4>Would you like to hike Angels Landing with us Friday Morning? 
          It is a strenuous, narrow, dangeous, 5.4 mile hike with 1500 ft of elevation gain. 
          Zion National Park is requiring hikers to have permits this year. The lottery opens July 1st. We will try to apply to get enough for everyone who would like to go. 
          <a href="https://www.nps.gov/zion/planyourvisit/angels-landing-hiking-permits.htm" target="_blank">Read more.</a></h4>
        <div (click)="toggleAngels(true)">
          <input name="angelsLanding" type="radio">
          <label for="angelsLanding" >Oh yeah</label>
          <span [class]="{'hide': !myForm.angelsLanding.value}"><i class="fa fa-check" ></i></span>
        </div>
        <div (click)="toggleAngels(false)">
          <input name="angelsLanding" type="radio">
          <label for="angelsLanding">No way</label>
          <span [class]="{'hide': myForm.angelsLanding.value}"><i class="fa fa-check" ></i></span>
        </div>
      </div>
      
      <div class="spacing"></div>

      <div class="col-md-12 form-group">
        <span class="input input--madoka" [class]="{'input--filled': !!myForm.notes.value}" >
          <input class="input__field input__field--madoka" type="text" formControlName="notes" id="input-notes">
          <label class="input__label input__label--madoka" for="notes">
            <svg class="graphic graphic--madoka" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
              <path d="m0,0l404,0l0,77l-404,0l0,-77z"></path>
            </svg>
            <span class="input__label-content input__label-content--madoka">Any comments or questions?</span>
          </label>
        </span>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4 form-group">
        <button type="submit" class="btn btn-block gradient">Save</button>
      </div>
    </div>
  </div>
</form>