<form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <div class="row">


      <div class="spacing"></div>
  
      <div class=" col-md-12 text-center">
        <span class="text-larger"><strong>Password Reset</strong></span><br>
        <div class="spacing"></div>
          <hr class="hr-style">
        <div class="spacing"></div>        
        <span class="text-small">Please enter the email address that was used to create the account you want to reset the password for.</span><br>
      </div>
      <div class="spacing"></div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-6">
        <!--Current Password-->
        <div class="form-group">
          <label for="email">Email<i class="fas fa-asterisk"></i></label>
          <input type="text" formControlName="email" placeholder="john@doe.com" required>
          <div class="error" *ngIf="submitted && myForm.email.errors?.required">
            Please enter your email address.
          </div>
          <div class="error" *ngIf="submitted && myForm.email.errors?.pattern">
            Enter a valid email.
          </div>

        </div>
      </div>
    </div>
    <div class="spacing s20"></div>

    <div class="row justify-content-center" *ngIf="!submittedSuccessfully">
      <div class="col-md-3 col-sm-6">
        <button type="submit" class="btn btn-block">Submit</button>
      </div>
    </div>
    <div class="row justify-content-center" *ngIf="submittedSuccessfully">
      <div class="col-md-12 text-center">
        <span class="text-small">We don't have automatic emails set up yet. Please contact Kevin to get a password reset code: '<strong>kshaupty@gmail.com</strong>'.</span>
      </div>
    </div>

    <div class="spacing s20"></div>
    <hr class="hr-style">
    <div class="spacing"></div>

  </div>
</form>