<form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <div class="row">


      <div class="spacing"></div>
  
      <div class="font-cabin col-md-12 text-center">
        <span class="text-28"><strong>Password Reset</strong></span><br>
        <div class="spacing"></div>
          <hr class="hr-style">
        <div class="spacing"></div>        
        <span class="text-16">Please enter the email address that was used to create the account you want to reset the password for.</span><br>
      </div>
      <div class="spacing"></div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-6">
        <!--Current Password-->
        <div class="form-group">
          <label for="email">Email<i class="fas fa-asterisk"></i></label>
          <input type="text" class="form-control" formControlName="email" placeholder="john@doe.com" required>
          <div class="error" *ngIf="submitted && myForm.email.errors?.required">
            Please enter your email address.
          </div>
          <div class="error" *ngIf="submitted && myForm.email.errors?.pattern">
            Enter a valid email.
          </div>

        </div>
      </div>
    </div>
    <div class="spacing s20"></div>

    <div class="row justify-content-center" *ngIf="!submittedSuccessfully">
      <div class="col-md-3 col-sm-6">
        <button type="submit" class="btn btn-block btn-primary">Submit</button>
      </div>
    </div>
    <div class="row justify-content-center" *ngIf="submittedSuccessfully">
      <div class="col-md-12 text-center">
        <span class="text-16">We've sent you an email from '<strong>noreply@kevinandmckenna.com</strong>'. Please click on the link in the email to reset your password.</span><br><br>
        <span class="text-26">Don't forget to <em>check your spam/junk folder</em> if you don't see the email in your inbox.</span>
      </div>
    </div>

    <div class="spacing s20"></div>
    <hr class="hr-style">
    <div class="spacing"></div>

  </div>
</form>