
<table *ngIf="rsvps">
  <thead>
    <th>Name</th>
    <th>Attending</th>
    <th>+1</th>
    <th>THU</th>
    <th>FRI</th>
    <th>SAT</th>
    <th>Lodging</th>
    <th>THU Dinner</th>
    <th>FRI Breakfast</th>
    <th>FRI Lunch</th>
    <th>Rehearsal</th>
    <th>Meal Help</th>
    <th>Brunch</th>
    <th>Brews</th>
    <th>+1 Brunch</th>
    <th>+1 Brews</th>
    <th>Hike</th>
    <th>Notes</th>
  </thead>
  <tbody>
    <tr>
      <td *ngFor="let total of totals">{{total}}</td>
    </tr>
    <tr *ngFor="let rsvp of rsvps">
      <td>{{getUser(rsvp)}}</td>
      <td>{{boolToYesNo(rsvp.attending)}}</td>
      <td>{{rsvp.plusOne}}</td>
      <td>{{boolToYesNo(rsvp.thursdayNight)}}</td>
      <td>{{boolToYesNo(rsvp.fridayNight)}}</td>
      <td>{{boolToYesNo(rsvp.saturdayNight)}}</td>
      <td>{{rsvp.accommodation}}</td>
      <td>{{boolToYesNo(rsvp.thursdayDinner)}}</td>
      <td>{{boolToYesNo(rsvp.fridayBreakfast)}}</td>
      <td>{{boolToYesNo(rsvp.fridayLunch)}}</td>
      <td>{{boolToYesNo(rsvp.rehearsalDinner)}}</td>
      <td>{{boolToYesNo(rsvp.mealHelp)}}</td>
      <td>{{boolToYesNo(rsvp.bridesBrunch)}}</td>
      <td>{{boolToYesNo(rsvp.boysBrews)}}</td>
      <td>{{boolToYesNo(rsvp.plusOne && rsvp.plusOneBridesBrunch)}}</td>
      <td>{{boolToYesNo(rsvp.plusOne && rsvp.plusOneBoysBrews)}}</td>
      <td>{{boolToYesNo(rsvp.angelsLanding)}}</td>
      <td>{{rsvp.notes}}</td>
    </tr>
  </tbody>
</table>