<form [formGroup]="passwordResetForm" (ngSubmit)="passwordResetUser()">
  <div class="container">
    <div class="row">

      <div class="spacing"></div>

      <div class="font-cabin col-md-12 text-center">
        <span class="text-28"><strong>Password Reset</strong></span>
      </div>

      <div class="spacing"></div>
      <hr class="hr-style">
      <div class="spacing"></div>

    </div>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <!--New Password-->
        <div class="form-group">
          <label for="newPassword">New Password<i class="fas fa-asterisk"></i></label>
          <input type="password" class="form-control" formControlName="newPassword" placeholder="Enter new password"
            data-lpignore="true" (change)="passwordCheck()">
          <div class="error" *ngIf="submitted && myForm.newPassword.errors?.required">
            New password is required.
          </div>
          <div class="error" *ngIf="submitted && myForm.newPassword.errors?.pattern">
            Enter a new password (8 to 32 characters, at least one upper case letter and number).
          </div>
        </div>
  
        <!--New Password Confirm-->
        <div class="form-group">
          <label for="newPasswordConf">Confirm New Password<i class="fas fa-asterisk"></i></label>
          <input type="password" class="form-control" formControlName="newPasswordConf" placeholder="Confirm new password"
            data-lpignore="true" (change)="passwordCheck()">
          <div class="error" *ngIf="submitted && myForm.newPasswordConf.errors?.required">
            New password confirmation is required.
          </div>
          <div class="error" *ngIf="submitted && myForm.newPasswordConf.errors?.pattern">
            Enter a new password confirmation (8 to 32 characters, at least one upper case letter and number).
          </div>
          <div class="error" *ngIf="myForm.newPasswordConf.errors?.match">
            Passwords do not match!
          </div>
        </div>
  

      </div>
    </div>

    <div class="spacing s20"></div>

    <div class="row justify-content-center">
      <div class="col-md-3 col-sm-6">
        <button type="submit" class="btn btn-block btn-primary">Submit</button>
      </div>
    </div>

    <div class="spacing s20"></div>
    <hr class="hr-style">
    <div class="spacing"></div>

  </div>
</form>