<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <h2>Gifts</h2>
      <p>Your attendance is the only gift we need. We can barely fit the kitchen appliances we already have! If you would like to leave us a card or donate to our honeymoon fund, we will have a box to drop cards in at the reception.</p>
      
    </div>

    <div class="col-md-12">
      <h2>Suggestions To Bring</h2>
      <ul>
        <li>Cool formal clothing. Fancier than jeans and a tshirt, but ties, coats, and dresses are not required. We'd like you to look nice for the ceremony, but the temperature will probably be around 90F and we would prefer you be comfortable. The sun will set just after the ceremony, and it should feel great to be outside after that.</li>
        <li>Clothes/Shoes for hiking</li>
        <li>Swim suit & towel if you feel like hot-tubbing or taking a dip in the river</li>
      </ul>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-12">
      <h2>Location</h2>
      <p>Zion Red Rock Chalet, West 75 South, Rockville, UT 84763</p>
    </div>
    <div class="col-md-12">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3179.5642486831903!2d-113.06550188435975!3d37.16305955488863!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80cae7acbe3fb9ad%3A0xf92c6dcdcdbf8623!2sZion%20Red%20Rock%20Chalet!5e0!3m2!1sen!2sus!4v1646604836442!5m2!1sen!2sus" 
        width="1200" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>
  
  <div class="spacing"></div>

  <div class="row justify-content-center">
    <div class="col-md-12">
      <h2>Schedule - September 8-10th</h2>
    </div>

    <div class="col-md-12">
      <p>We will be spending the night Thursday, Friday, and Saturday. While you don't have to spend the night, we encourage you to spend at least Friday and Saturday night so you don't have to worry about travel on the day of. A tentative schedule of the weekend is as follows: </p>
      
      <app-schedule></app-schedule>
      <span><small>* as it is tradition for the groom not to see the bride before the wedding, there will be a brunch at the house attended by the bride and the groom will be headed to a nearby place to grab a beer and lunch</small></span>
    </div>
  </div>

  <div class="spacing"></div>

  <div class="row justify-content-center">
    <div class="col-md-12">
      <h2>We plan on hiking Angels Landing on Friday morning. 
        It is a strenuous, narrow, dangeous, 5.4 mile hike with 1500 ft of elevation gain. 
        Zion National Park is requiring hikers to have permits this year. 
        The lottery opens June 1st. We will try to apply to get enough for everyone who would like to go. <a href="https://www.nps.gov/zion/planyourvisit/angels-landing-hiking-permits.htm" target="_blank">Read more.</a></h2>
    </div>
  </div>
</div>