<div class="container">
  <div class="row">

    <div class="spacing s20"></div>
      <hr class="hr-style">
    <div class="spacing s20"></div>

    <div class="col-md-12 text-center" *ngIf="!email">
      <span class="text-36">Your email has not been verified.</span><br><br>
      <span class="text-18">We've sent you an email from '<strong>noreply@kevinandmckenna.com</strong>'. Please click on the link in the email to verify your account.</span><br><br>
      <span class="text-28">Don't forget to <em>check your spam/junk folder</em> if you don't see the email in your inbox.</span>
    </div>

    <div class="spacing s20"></div>
      <hr class="hr-style">
    <div class="spacing s20"></div>

  </div>
</div>