<div class="container">
  <div class="row">

    <div class="spacing s20"></div>
      <hr class="hr-style">
    <div class="spacing s20"></div>

    <div class="col-md-12 text-center" *ngIf="!email">
      <h2>Your email has not been verified.</h2><br><br>
      <span>We've sent you an email from '<strong>kshaupty@gmail.com</strong>'. Please click on the link in the email to verify your account.</span><br><br>
      <span class="text-larger">Don't forget to <em>check your spam/junk folder</em> if you don't see the email in your inbox.</span>
    </div>

    <div class="spacing s20"></div>
    <hr class="hr-style">
    <div class="spacing s20"></div>

  </div>
</div>